@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --nav-width: 5rem;
  --first-color: #0c5df4;
  --bg-color: #125d98;
  --sub-color: #b6cefc;
  --white-color: #fff;
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100%;
}

section {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 2 rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  /* padding: 1.5rem 1.5rem 2rem; */
  padding: 1rem;
  transition: 0.5s;
  z-index: var(--z-fixed);
  display: flex;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_brand {
  display: grid;
  grid-template-columns: max-content max-content;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 2rem;
}

.nav_toggle {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav_logo {
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem;
  color: var(--white-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 1rem;
}

.nav_link:hover {
  background-color: #f5a962;
  color: #125d98;
  font-weight: bold;
}

.nav_icon {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.nav_name {
  font-size: var(--small-font-size);
  margin-left: 1rem;
}

.expander {
  width: calc(var(--nav-width) + 10rem);
}

.body-pd {
  padding-left: 10rem;
}

.modal {
  display: flex;
  align-items: center;
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  /* padding-top: 100px; Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
}

.generate-color-label {
  font-size: 1.5rem;
  color: #125d98;
}

.color-component {
  padding: 1rem 0;
}

.btn-refresh-color {
  margin: 0 !important;
  background-color: #50bae3;
  font-size: 1.2rem !important;
  color: white;
  padding: 0.5rem 1.5rem !important;
}

.colormind-component {
  min-width: 25rem;
}

.sticky {
  position: fixed;
  /* top: 10rem; */
  top: 3rem;
}

#sticky-colormind {
  overflow: hidden;
}

.swal2-title {
  font-family: "Poppins", sans-serif;
}
