#contact-section {
  margin-left: 5rem;
  padding: 2rem;
}

#contact-section h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #125d98;
}

#contact-section h3 {
  display: flex;
  justify-content: center;
  color: #f5a962;
  font-size: 2rem;
}

#contact-section input {
  margin-right: 1rem;
}

.selection-contact {
  display: flex;
  flex-direction: column;
}

.selection-contact .selection-img {
  /* max-width: 100px; */
  width: 20rem;
  height: 10rem;
  object-fit: cover;
}

.button-contact {
  /* display: inline-block;
  margin-left: 29rem; */
  display: flex;
  flex-direction: column;
}

.button-contact button {
  width: 100px;
}

.selection-contact .selection-img:hover {
  cursor: pointer;
}
