.type-1-footer {
  display: flex;
  padding: 1.5rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.type-1-footer .company-side {
  display: flex;
  align-items: center;
}

.type-1-footer .social-media-side {
  display: flex;
}

.type-2-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.type-3-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2rem;
}

.type-2-footer .company-side {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.type-3-footer .company-side {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.social-media-side img {
  width: 2rem;
  height: 2rem;
  margin: 0;
}
