@media (min-width: 1025px) {
  .type-1-footer .company-side img,
  .type-2-footer .company-side img,
  .type-3-footer .company-side img {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
  }

  .type-1-footer {
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
  }

  .type-1-footer .company-side {
    display: flex;
    align-items: center;
  }

  .type-1-footer .social-media-side {
    display: flex;
  }

  .type-2-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .type-3-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2rem;
  }

  .type-2-footer .company-side {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .type-3-footer .company-side {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-weight: bold;
  }

  .social-media-side img {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
  }

  .update-footer-section button {
    background-color: #c68b59;
    color: white;
  }

  .type-2-footer .social-media-side,
  .type-3-footer .social-media-side {
    display: flex;
  }

  .company-side h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .type-1-footer,
  .type-2-footer,
  .type-3-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
  }

  .company-side {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }

  .company-side img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  .social-media-side {
    display: flex;
    margin-bottom: 0.5rem;
  }

  .social-media-side img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem;
  }
}

/* @media (max-width: 550px) {
  .type-1-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .type-1-footer .company-side {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .type-1-footer .social-media-side {
    display: flex;
  }
} */
