.wrapper-homepage {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar-homepage {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: #125d98;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.navbar-homepage .logo-homepage h4 {
  font-weight: bold;
  font-size: 2rem;
  /* margin-left: 2rem; */
  color: #dddddd;
}

.navbar-homepage .logo-homepage span {
  color: #ffac70;
}

.navbar-homepage .links-homepage a {
  margin-left: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #dddddd;
}

.navbar-homepage .links-homepage a:hover {
  color: #f5a962;
}

.landing-page-homepage {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10vw 0 10vw;
  height: 100vh;
}

.landingText-homepage {
  margin-right: 3rem;
}

.landingText-homepage h1 {
  font-size: 4vw;
  font-weight: bolder;
  margin: 0;
  color: #125d98;
}

.landingText-homepage span {
  font-size: 4vw;
  margin: 0;
  color: #ffac70;
}

.landingText-homepage h3 {
  width: 40rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  opacity: 0.5;
  line-height: 2.5rem;
}

.landingText-homepage .btn-learn {
  margin-top: 2.5rem;
  padding: 1rem 2rem;
  background-color: #125d98;
  border-radius: 3rem;
  width: 11rem;
}

.landingText-homepage .btn-learn a {
  font-size: 1.25vw;
  color: whitesmoke;
  margin-left: 2px;
}

.landingImage-homepage img {
  width: 30vw;
  margin-left: 2rem;
}

.h1-style {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #125d98;
  text-align: center;
  /* bottom: 9rem; */
}

.about-homepage {
  /* width: 70rem; */
  margin-top: 7rem;
  height: 40rem;
  /* padding: 0px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutText-homepage {
  margin-left: 0;
  position: relative;
  /* padding: 0rem 2rem; */
  padding-top: 0rem;
  padding-left: 0rem;
  width: 30rem;
  height: inherit;
}

.aboutText-homepage img {
  width: 27vw;
  /* margin-left: 10rem; */
  /* position: absolute; */
  top: 50px;
}

.aboutList-homepage {
  margin-bottom: 11rem;
  /* bottom: 7rem; */
}

.aboutList-homepage h3 {
  width: 35rem;
  font-size: 3rem;
  font-weight: 600;
  color: #f5a962;
}

.aboutList-homepage h4 {
  font-size: 1.5rem;
  opacity: 0.5;
}

.about-2-homepage,
.about-3-homepage {
  height: 40rem;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutText-2-homepage,
.aboutText-3-homepage {
  margin-left: 0;
  position: relative;
  /* padding: 0rem 2rem; */
  padding-top: 0rem;
  padding-left: 0rem;
  width: 28rem;
  height: inherit;
}

.aboutText-2-homepage img,
.aboutText-3-homepage img {
  width: 27vw;
  /* margin-left: 10rem; */
  /* position: absolute; */
  top: 50px;
}

.aboutList-2-homepage {
  margin-bottom: 17rem;
  margin-right: 7rem;
}

.aboutList-2-homepage h3,
.aboutList-3-homepage h3 {
  width: 35rem;
  font-size: 3rem;
  font-weight: 600;
  color: #f5a962;
}

.aboutList-2-homepage h4,
.aboutList-3-homepage h4 {
  font-size: 1.5rem;
  opacity: 0.5;
}

.aboutList-3-homepage {
  margin-left: 3rem;
  margin-bottom: 15rem;
}

/* .about-3-homepage {
  height: 600px;
  padding: 50px;
  display: flex;
  margin-top: -2rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutText-3-homepage {
  position: relative;
  padding: 0 50px;
  height: inherit;
}

.aboutText-3-homepage img {
  width: 20vw;
  margin-right: 15rem;
  top: 50px;
}

.aboutList-3-homepage {
  margin-bottom: 20rem;
}

.aboutList-3-homepage h3 {
  font-size: 3rem;
  font-weight: 600;
  color: #f5a962;
}

.aboutList-3-homepage h4 {
  font-size: 1.5rem;
  opacity: 0.5;
} */

.aboutList-3-homepage .btn-start {
  width: 11rem;
  margin-top: 30px;
  padding: 1rem 2rem;
  background-color: #125d98;
  border-radius: 45px;
}

.aboutList-3-homepage .btn-start a {
  font-size: 1.3vw;
  color: whitesmoke;
  margin-left: 8px;
}

.footer-homepage {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  margin: 0;
}

.footer-homepage h2 {
  font-weight: bolder;
  color: #125d98;
  font-size: 20px;
}

.footer-homepage h2 span {
  color: #f5a962;
}

.footer-homepage h4 {
  margin-top: 1rem;
  opacity: 0.5;
  font-size: 13px;
}
