#intro-section {
  margin-left: 8rem;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #dddddd; */
}

#intro-section h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #125d98;
  /* margin-bottom: 3rem; */
}

#intro-section .intro-input {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 5rem;
}

#intro-section button {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  border: none;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  width: 8rem;
  background-color: #16c79a;
  color: white;
  padding: 0.5rem 5rem;
  text-align: center;
}

#intro-section input {
  width: 25 rem;
  font-size: 2rem;
  /* border-radius: 2rem; */
  /* border: 0.3rem solid #3c8dad; */
  margin-left: 3rem !important;
  padding: 1.5rem;
  border-bottom: 0.2rem solid #3c8dad;
  /* text-align: center; */
}

#intro-section label {
  color: #f5a962;
  font-weight: bold;
  font-size: 3rem;
}

::-webkit-input-placeholder {
  font-size: 1.5rem;
}
