@media (min-width: 1024px) {
  .type-1-main {
    display: flex;
    /* flex-direction: column; */
    padding-bottom: 3rem;
  }

  .type-2-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .type-2-main img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .type-2-main .text-main-section {
    text-align: left;
  }

  .type-1-main img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  .type-1-main .text-main-section {
    text-align: left;
  }

  .type-1-main {
    display: flex;
    justify-content: space-between;
    padding: 6rem 5rem;
    align-items: center;
  }

  .type-1-main img,
  .type-2-main img {
    width: 40rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  .type-2-main img {
    margin-left: 4rem;
  }

  .type-2-main {
    display: flex;
    flex-direction: row-reverse;
    padding: 6rem 5rem;
    align-items: center;
  }

  .type-3-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  .type-3-main img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .type-3-main .text-main-section {
    text-align: center;
  }

  .text-main-section {
    /* max-width: 40rem; */
    width: 40rem;
    text-align: left;
  }

  .text-main-section h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    min-width: 20rem;
    font-weight: bolder;
  }

  .text-main-section p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .update-main-section button {
    background-color: #6cbfd8;
    color: white;
  }
}

@media (max-width: 480px) {
  .type-1-main img,
  .type-2-main img,
  .type-3-main img {
    object-fit: cover;
  }

  .text-main-section {
    text-align: center;
    padding: 1.5rem;
  }

  .text-main-section h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .text-main-section p {
    font-size: 0.7rem;
  }
}

/* @media (max-width: 960px) {
  .type-1-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }
  .type-2-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  .type-2-main img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .type-2-main .text-main-section {
    text-align: center;
  }

  .type-1-main img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-right: 0rem;
    margin-bottom: 2rem;
  }

  .type-1-main .text-main-section {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .type-1-main img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  .type-2-main img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-right: 3.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .type-2-main .text-main-section p {
    text-align: center;
    max-width: 30rem;
    margin-left: 5rem;
  }

  .type-1-main .text-main-section p {
    text-align: center;
    max-width: 30rem;
    margin-left: 5rem;
  }

  .type-1-main img {
    margin-right: 0rem;
  }
}

@media (max-width: 414px) {
  .text-main-section h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    min-width: 15rem;
    font-weight: bolder;
  }

  .type-2-main .text-main-section p {
    text-align: center;
    max-width: 20rem;
    margin-left: 10rem;
  }

  .type-1-main .text-main-section p {
    text-align: center;
    max-width: 20rem;
    margin-left: 10rem;
  }
}

@media (max-width: 375px) {
  .text-main-section h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    min-width: 10rem;
    font-weight: bolder;
  }
} */
