#main-section {
  margin-left: 5rem;
  padding: 2rem;
}

#main-section h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #125d98;
}

#main-section h3 {
  display: flex;
  justify-content: center;
  color: #f5a962;
  font-size: 2rem;
}

.selection-main {
  display: flex;
  flex-direction: row;
}

.selection-main .selection-img {
  max-width: 100px;
}

.button-main {
  display: inline-block;
  margin-left: 29rem;
}

.button-main button {
  width: 100px;
}
