.type-1-nav ul,
.type-2-nav ul,
.type-3-nav ul {
  display: flex;
  list-style-type: none;
}

.type-1-nav a,
.type-2-nav a,
.type-3-nav a {
  text-decoration: none;
  margin: 0 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.type-1-nav img,
.type-2-nav img,
.type-3-nav img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.type-1-nav h1,
.type-2-nav h1,
.type-3-nav h1 {
  font-size: 2rem;
}

.type-1-nav,
.type-2-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  width: 100%;
}

.type-1-nav .left-side,
.type-2-nav .left-side {
  display: flex;
  align-items: center;
}

.empty {
  width: 10rem;
}

.type-3-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-3-nav .left-side {
  display: flex;
  /* width: 20rem; */
  margin: 1.5rem auto;
  align-items: center;
  text-align: center;
}

.type-3-nav ul {
  padding: 1.5rem 0;
  padding-top: 1rem;
}

.section-and-update {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.update-nav-section button {
  background-color: #f09027;
  color: white;
}

.btn-update-section {
  font-size: 0.8rem !important;
  padding: 1rem !important;
  font-weight: normal;
  background-color: #e2e2e2;
}
