#navbar-section {
  margin-left: 5rem;
  padding: 2rem;
  /* padding-left: 8rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
}

#navbar-section h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #125d98;
  margin: 0;
}

#navbar-section h3 {
  display: flex;
  justify-content: center;
  color: #f5a962;
  font-size: 2rem;
}

#navbar-section #company-title-color {
  margin-left: 1rem;
}

.input {
  margin-right: 6rem;
}

.input label {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #125d98;
}

.contain-input label {
  color: #125d98;
}

/* .input input {
  width: 10rem;
  height: 2rem;
  border-bottom: 0.2rem solid #125d98;
  border-radius: 0.2rem;
  background-color: #f5a962;
} */

/* #navbar-section .input {
} */

.button-navbar {
  margin-left: 35rem;
  width: 100px;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
}

.selection-navbar {
  display: flex;
  flex-direction: column;
}

.selection-navbar .selection-img {
  /* max-width: 100px; */
  width: 30rem;
  height: 5rem;
  object-fit: cover;
  /* margin-bottom: 1rem; */
  object-position: 0 30%;
}

/* .selection-navbar .selection-img:hover {
  cursor: pointer;
} */

/* .selection-navbar .selection-img:hover .overlay {
  opacity: 1;
} */

.container-img-hover {
  position: relative;
  height: 80%;
}

.container-img-hover:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.btn-next,
.btn-skip {
  width: 10rem;
  font-size: 1.2rem;
  color: white;
}

.btn-next {
  background-color: #50cb93;
}

.btn-skip {
  background-color: #ffa940;
  margin-bottom: 1rem;
}

.btn-remove-image {
  padding: 0.8rem;
  background-color: #ff6767;
  color: white;
}

input[type="text"] {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  width: 20rem;
  height: 2rem;
  padding-left: 0.5rem;
  border-bottom: 0.2rem solid #125d98;
  background-color: #f5a962;
}

input[type="color"] {
  width: 20rem;
  height: 2rem;
  -webkit-appearance: none;
}

textarea {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  width: 18rem;
  height: 8rem;
  border: 0.2rem solid #125d98;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1rem;
  height: 1rem;
}

.form-center img {
  margin: 0.5rem 0;
}

input[type="file"] {
  width: 10rem;
  height: 2rem;
  border: none;
}

.btn-form-page {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.title-bold {
  font-weight: bolder;
}

.generate-color-label {
  font-weight: bold;
}

.form-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* width: 30rem; */
}

.form-align-center {
  display: flex;
  /* align-items: center; */
  margin: 0.5rem 0;
  flex-direction: column;
}

.horizontal-center {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.contain-input {
  flex-direction: column;
  background-color: #f5a962;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  width: 25rem;
}

/* .mt-1 {
  margin-top: 2rem;
} */

.title-subform {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #125d98;
}

label {
  font-weight: bold;
}

.font-2 {
  font-size: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3c8dad;
  border-radius: 0.5rem;
}

.text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.input ::-webkit-input-placeholder {
  font-size: 1.1rem;
  color: rgb(170, 105, 0);
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 20rem;
  height: 32px;
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: 0.1rem solid gray;
  border-radius: 1rem;
}

.mt-half {
  margin-top: 0.5rem;
}

.mb-half {
  margin-bottom: 0.5rem;
}
