@media (min-width: 1024px) {
  .type-1-service .service-card-section {
    display: flex;
    /* flex-direction: column; */
  }
  .type-1-service,
  .type-3-service {
    padding: 6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .type-1-service .service-card-section {
    display: flex;
    justify-content: center;
  }

  .service-card-section {
    margin-top: 2rem;
  }

  .type-1-service .card-service {
    width: 20rem;
    margin: 2rem 3rem;
    padding: 2rem;
    border-radius: 1rem;
  }

  .type-1-service h1,
  .type-3-service h1,
  .type-2-service h1 {
    font-size: 3rem;
    font-weight: bolder;
  }

  .card-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .card-service h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .card-service img {
    width: 7rem;
    height: 7rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .type-3-service .service-card-section {
    display: flex;
    flex-direction: column;
  }

  .type-3-service .card-service {
    border-radius: 1rem;
    padding: 3rem 5rem;
    margin: 1rem 0;
    max-width: 40rem;
  }

  .type-3-service .card-service p {
    max-width: 30rem;
    font-size: 1.2rem;
  }

  .type-3-service .card-service img {
    width: 8rem;
    height: 8rem;
  }

  .type-2-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem 0 7rem;
  }

  .type-2-service .service-card-section {
    margin: 1rem;
  }

  .type-2-service .card-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    max-width: 60rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }

  .type-2-service .service-headline {
    font-size: 4rem;
  }

  .type-2-service .card-service img {
    margin: 0;
    width: 9rem;
    height: 9rem;
  }

  .text-card-service {
    max-width: 25rem;
    margin-right: 5rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .update-service-section button {
    background-color: #b980f0;
    color: white;
  }
}

@media (max-width: 480px) {
  .service-headline {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .service-card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .type-2-service .card-service {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .type-1-service .card-service,
  .type-3-service .card-service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-service {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    width: 12rem;
  }

  .text-card-service {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .text-card-service h1 {
    margin-bottom: 1rem;
  }

  .service-card-section img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  .service-card-section {
    padding: 1rem;
  }

  .service-card-section p {
    font-size: 0.5rem;
  }
}

/* @media (max-width: 760px) {
  .type-2-service {
    padding: 6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .type-2-service .card-service {
    display: flex;
    flex-direction: column;
  }

  .type-1-service .service-card-section {
    display: flex;
    flex-direction: column;
  }

  .type-1-service .card-service,
  .type-2-service .card-service,
  .type-3-service .card-service {
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    max-width: 40rem;
  }

  .type-1-service .card-service p {
    max-width: 30rem;
    font-size: 1.2rem;
  }

  .type-1-service .card-service img {
    width: 8rem;
    height: 8rem;
  }

  .type-2-service .service-card-section {
    display: flex;
    flex-direction: column;
  }

  .type-2-service .card-service h1 {
    margin-left: 5rem;
    text-align: center;
  }

  .type-2-service .card-service p {
    text-align: center;
    max-width: 30rem;
    margin-left: 5rem;
    font-size: 1.2rem;
  }

  .type-2-service .card-service img {
    width: 8rem;
    height: 8rem;
  }
}

@media (max-width: 414px) {
  .type-1-service h1,
  .type-3-service h1,
  .type-2-service h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    width: 20rem;
    display: flex;
    justify-content: center;
  }

  .type-1-service .card-service,
  .type-2-service .card-service,
  .type-3-service .card-service {
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    max-width: 20rem;
    width: 10rem;
    font-size: 2rem;
  }
} */
