#update-section {
  margin-left: 4rem;
  padding: 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#update-section h1 {
  display: flex;
  justify-content: center;
  color: #f5a962;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#update-section .select-section {
  /* margin-left: 35rem;
  margin-bottom: 5rem; */
  padding: 0.5rem 5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  /* border: 0.2rem solid #125d98; */
  background: none;
  font-family: "Poppings", sans-serif;
  background-color: #125d98;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}

/* #update-section .input { */
/* display: flex;
  flex-direction: column;
  align-items: center; */
/* } */

.btn-remove {
  width: 12rem;
  padding: 1rem 0;
  background-color: rgb(255, 118, 77);
  color: white;
  margin-bottom: 1rem;
}

.btn-update {
  width: 12rem;
  background-color: #50cb93;
  color: white;
}
